# 07-evalute-review
## Main objectives:

- aggregate all model metrics and display for review

- models:
    - basic_json: vanilla default config from spacy.io trained via 03-build-model-basic
    - bow_json: BOW model trained via 04-build-model-TextCatBOW
    - cnn_json: CNN model trained via 05-build-model-TextCatCNN
    - ens_json: Stacked Ensemble model trained via 06-build-model-TextCatEnsemble

In [1]:
import pandas as pd

basic = "./evaluate/basic-metrics.json"
bow = "./evaluate/model-textCatBOW-metrics.json"
cnn = "./evaluate/model-textCatCNN-metrics.json"
ens = "./evaluate/model-textCatEnsemble-metrics.json"

basic_json = pd.read_json(basic)
bow_json = pd.read_json(bow)
cnn_json = pd.read_json(cnn)
ens_json = pd.read_json(ens)

basic_json['model'] = 'Basic'
bow_json['model'] = 'BOW'
cnn_json['model'] = 'CNN'
ens_json['model'] = 'Ensemble'


basic_json

,token_acc,cats_score,speed,cats_f_per_type,cats_auc_per_type,model
positive,1,0.945689,27802.141382,"{'p': 0.8819725141, 'r': 0.8728, 'f': 0.877362...",0.945689,Basic
negative,1,0.945689,27802.141382,"{'p': 0.8741092637000001, 'r': 0.8832000000000...",0.945689,Basic

In [2]:
bow_json

,token_acc,cats_score,speed,cats_f_per_type,cats_auc_per_type,model
positive,1,0.945689,314421.557128,"{'p': 0.8819725141, 'r': 0.8728, 'f': 0.877362...",0.945689,BOW
negative,1,0.945689,314421.557128,"{'p': 0.8741092637000001, 'r': 0.8832000000000...",0.945689,BOW

In [3]:
cnn_json

,token_acc,cats_score,speed,cats_f_per_type,cats_auc_per_type,model
positive,1,0.930368,17016.256714,"{'p': 0.8644553645, 'r': 0.8444, 'f': 0.854309...",0.930368,CNN
negative,1,0.930368,17016.256714,"{'p': 0.8479280688, 'r': 0.8676, 'f': 0.857651...",0.930368,CNN

In [4]:
ens_json

,token_acc,cats_score,speed,cats_f_per_type,cats_auc_per_type,model
positive,1,0.928509,15153.034891,"{'p': 0.8752151463000001, 'r': 0.8136, 'f': 0....",0.928509,Ensemble
negative,1,0.928509,15153.034891,"{'p': 0.8258594918000001, 'r': 0.884, 'f': 0.8...",0.928509,Ensemble

# Comparing models with wandb.ai

- great quickstart docs located on their documentation site:
- [https://docs.wandb.ai/quickstart](https://docs.wandb.ai/quickstart)

Straightforward addition to config to wire up your evaluate cycle to wandb.ai:

```
[variables]
wandb_project_name = "yelp-polarity"

[training.logger]
@loggers = "spacy.WandbLogger.v1"
project_name = ${variables.wandb_project_name}
remove_config_values = []

```

Published dashboard of model training comparisons

- [https://wandb.ai/garza/yelp-polarity/reports/Project-Dashboard--Vmlldzo1NTIxMjE](https://wandb.ai/garza/yelp-polarity/reports/Project-Dashboard--Vmlldzo1NTIxMjE)